*{
    font-family: helvetica;
}
body{
    margin: 0px;
}
.container{
    display:  flex;
    justify-content: center;
}

.navBar{
    display: flex;
    align-items: center;
    background-color: black;
    height: 70px;
    width: 790px;
    color: white;
    margin: 0px auto;
}

.network{
    padding-left: 30px;
}

.feed{
    display:flex;
    justify-content: center;
    margin-top: 20px;
}

.main{
    justify-content: center;
    align-items: flex-start;
}
        .sideStack{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: 300px;
            min-width: 200px;
            border: 3px solid black;
            margin: 20px;
}

        .sideStack h2, h3{
            margin: 0px;
        }

        img{
            width: 100px

        
        }

        .box{
            margin: 20px;
            min-width: 400px;
            height: 150px;
            border: 3px solid black;


}
                .topInner{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    height: 70px;

}
                        .topInner h2{
                            margin: 0px;
                            padding-left: 5px;


}
                        .topInner p{
                            padding-left: 200px;
                        }
                        
                        #button{
                            marginleft: 300px;
                            height: 40px;
                            min-width: 90px;
                            background-color: palegreen;

    }



                .botInner{
                    display: flex;
                    align-items: flex-start;
                    height: 75px;
}

                .botInner p{
                    margin: 0px;
                    padding: 30px;
                }